<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Cita Confirmada</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container-confirm fade-in">
  <img src="{{ url_for('static', filename='img/perfil.jpg') }}" alt="Perfil" style="width:120px;height:120px;border-radius:50%;border:3px solid var(--primary);object-fit:cover;">
  <h2>¡Cita Confirmada!</h2>
  <p>Gracias, <strong>{{ nombre }}</strong>. Tu cita se ha registrado con éxito 💚</p>
  <p><strong>Fecha:</strong> {{ fecha }}</p>
  <p><strong>Hora:</strong> {{ hora }}</p>
  <a href="/"><button class="volver">Agendar otra cita</button></a>
</div>
  <div class="footer">
    &copy; TQM
  </div>
</body>
</html>
